.container {
    display: grid; 
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

header {
    color: black;
    padding: 10px;
    position: relative;
  }
  
  nav ul {
  
    list-style: none;
  
    padding: 0;

  
  }
  
  nav ul li {
  
    display: inline;
  
    margin-right: 10px;
  
    cursor: pointer;
  
  }
  
  nav ul li:hover {
  
    text-decoration: underline;
  
  }