.diferentao{
    margin-top: 100px;
    padding-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    margin: 0 60px 30px 60px;
}

/* Estilo do card */
.repo-item {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 0 0 calc(16.6667% - 8px);
    margin: 2px;
}

.repo-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.repo-item h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 10px 0;
}

.repo-item p {
    font-size: 14px;
    color: #555;
    margin: 0;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
}


.repo-item a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.repo-item a:hover {
    text-decoration: underline;
}

.repo-item .stars {
    font-size: 14px;
    color: #888;
    margin-top: 8px;
}