<app-add-post></app-add-post>

<section class="post">
  <div class="interface-post" *ngFor="let info of feed">
    <div class="user-info">
      <img src="assets/perfil1.jpeg" class="perfil-foto">
      <div class="user-nome">
        <h3>{{ info?.autor }}</h3>
      </div>
    </div>

    <div class="post-content">
      <p>{{ info?.conteudo }}</p>
      <div class="post-images">
        <img [src]="info?.imagem" alt="Imagem do post" class="post-image" *ngIf="info?.imagem !== 'null'">
      </div>
    </div>

    <div class="post-actions">
      <button><i class="bi bi-hand-thumbs-up"></i> Gostei</button>
      <button><i class="bi bi-chat-dots"></i> Comentar</button>
      <button><i class="bi bi-send"></i> Compartilhar</button>
    </div>
  </div>
</section>
