.interface-post {
    width: 60%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .post {
    min-height: 10%;
    padding: 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-nome {
    margin-left: 5px;
  }

  .user-nome h3 {
    font-size: 19px; 
    font-weight: normal;
    margin: 0; 
} 
  .post-content p{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .post-images {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .post-images img {
    width: 100%;
    border-radius: 5px;
  }

  .post-actions {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.button i {
  margin-right: 8px;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.button.liked i {
  transform: scale(1.4);
  color: #3700ff; 
  background-color: #fff; 
}

.button:hover {
    background-color: #f5f5f5;
    color: #3700ff;
}

.button:active {
    background-color: #e0e0e0;
}

.button.liked {
  background-color: #fff; 
  color: #000000;              
}