<app-add-post></app-add-post>

<section class="post">

    <div class="interface-post">

            <div class="user-info">
                <img src="assets/perfil1.jpeg" class="perfil-foto">
                <div class="user-nome">
                    <h3>Mariana Rodrigues Padilha</h3>
                </div>
            </div>
            <div class="post-content">
                <p>
                    Hoje, tive a oportunidade de realizar um workshop junto com um colega para ensinar crianças do Centro de Convivência sobre Ada Lovelace e o conceito de algoritmos através de brincadeiras interativas. Além disso, apresentei um...
                </p>
                <div class="post-images">
                    <img src="assets/post1.jpeg" alt="Imagem do workshop" class="post-image">
                </div>
            </div>
            <div class="post-actions">
                <button><i class="bi bi-hand-thumbs-up"></i> Gostei</button>
                <button><i class="bi bi-chat-dots"></i> Comentar</button>
                <button><i class="bi bi-send"></i> Compartilhar</button>
            </div>
   
      </div>
</section>