<app-add-post></app-add-post>

<section class="post">
  <div class="interface-post" *ngFor="let info of feed">
    <div class="user-info">
      <img [src]="info?.perfil" alt="Imagem do post" class="perfil-foto" *ngIf="info?.perfil !== 'null'">
      <div class="user-nome">
        <h3>{{ info?.autor }}</h3>
      </div>
    </div>

    <div class="post-content">
      <p>{{ info?.conteudo }}</p>
      <div class="post-images">
        <img [src]="info?.imagem" alt="Imagem do post" class="post-image" *ngIf="info?.imagem !== 'null'">
      </div>
    </div>

    <div class="post-actions">
      <a href="#" class="button" (click)="toggleLike($event, info)" [ngClass]="{'liked': info.liked}">
        <i class="bi" [ngClass]="info.liked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'"></i> Gostei
      </a>
      <a [href]="'mailto:?subject=Confira este post!&body=Veja este post interessante: https://Linkdln/post.com'" class="button">
        <i class="bi bi-send"></i> Compartilhar
      </a>
      
    </div>    
  </div>
</section>
